*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("./img/plano-de-fundo-1300px.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
#form{
    width:450px;
    height:450px;
    border-radius: 20px;
    background-color: rgba(93, 79, 79, 0.85);
    padding: 12px;
    color: #f1e8e8ee;
    text-shadow: 0.5px 0.5px #000;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 200, 0.3);
}
#title,
#subtitle{
    text-align: center;
}
.info-pessoal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#txtnome,
#txt-email,
.nivel{
    margin-bottom: 5px;
}
#txtnome,
#txt-sobrenome,
#txt-email,
#txt-experiencia{
    border-radius: 10px;
    padding: 2px;
}
#txtnome,
#txt-sobrenome,
#txt-email{
    width: 200px;
}
#txt-experiencia{
    margin-top: 5px;
}
.botao{
    display: flex;
    justify-content: center;
}
#botao{
    margin-top: 25px;
    padding: 5px;
    border-radius: 50px;
}
#botao:hover{
    background-image: linear-gradient(to top right, #000, #d3bdbd33);
    color: #fff;
    padding: 5px;
}
@media(max-width: 442px){
    #txtnome,
    #txt-sobrenome,
    #txt-email{
        width: 170px;
    }
    #txt-experiencia{
        margin-top: 3px;
    }
    #form{
        height: 480px;
    }
}
@media(max-width: 378px){
    .botao{
        margin-top: 5px;
    }
    #form{
        height:520px;
    }
    #txtnome,
    #txt-email,
    .nivel{
        margin-bottom: 7px;
    }
}

